name: CI-4 Helm Chart Validation

on:
  workflow_dispatch:
  push:
    paths:
      - 'wiki-chart/**'
      - '.github/workflows/ci-4.yml'

jobs:
  helm-lint:
    name: Helm Chart Validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - name: Run Helm lint
        run: helm lint ./wiki-chart --strict